fastapi
uvicorn
numpy
pandas
matplotlib
seaborn
scikit-learn
httpx
duckdb
requests
beautifulsoup4
lxml
tabula-py
networkx
python-multipart
pillow
chardet
authlib
sentence-transformers
duckdb
tabula-py
wget
crawl4ai
playwright
jmespath
ijson
openpyxl
geopy
geopandas
